<div class="title">
    <h4>{%- if section.settings.voucher_title != blank -%}{{ section.settings.voucher_title }}{%- else -%}{{ 'theme.footer.vouchers' | t }}{%- endif -%}</h4>
    <div class="toggle-arrow"><span></span><span></span></div>
</div>
<div class="collapsed-content">
    <div class="box-coupon">
        <div class="box-coupon-icon"><i class="icon-scissors"></i></div>
        <div class="box-coupon-text">{%- if section.settings.voucher_text != blank -%}{{ section.settings.voucher_text }}{%- else -%}<span class="custom-color">FOXIC</span> THEME{%- endif -%}</div>
    </div>
</div>