{%- assign demo = true -%}
<div class="hdr hdr-style2 {% if section.settings.transparent and template == 'index' %}{{ section.settings.header_outer_margin }}{%  endif %}">
    {%- if section.settings.topbar_enable -%}
    <div class="hdr-topline {% unless demo %}{{ settings.color_topline_style }}{% endunless %} js-hdr-top">
        <div class="container">
            <div class="row">
                <div class="col hdr-topline-left">
                    <ul class="social-list list-unstyled">
                        {% include 'social-media-links' %}
                    </ul>
                </div>
                <div class="col hdr-topline-right hide-mobile">
                    <div class="hdr-inline-link {% if section.settings.icon_small_space %}hdr-inline-link--compact{% endif %} {% if section.settings.icon_small %}hdr-inline-link--sm{% endif %}">
                        {% include 'header-services' %}
                        {% include 'header-languages' %}
                        {% include 'header-currencies' %}
                        <div class="hdr_container_desktop">
                            {% include 'header-account' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%- endif -%}
    <div class="hdr-content">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto show-mobile">
                    {% include 'header-burger' %}
                </div>
                <!--navigation-->
                <div class="col-7 hdr-nav hide-mobile nav-holder">
                    {% include 'header-navigation' %}
                </div>
                <!--//navigation-->
                <div class="hdr-logo">
                    {% include 'header-logo' %}
                </div>
                <div class="col col-lg-7 hdr-links-wrap ml-0">
                    <div class="hdr-links">
                        {% include 'header-phone' %}
                        <div class="hdr-inline-link {% if section.settings.icon_small_space %}hdr-inline-link--compact{% endif %} {% if section.settings.icon_small %}hdr-inline-link--sm{% endif %}">
                            {% include 'header-search' %}
                            {% include 'header-wishlist' %}
                            {% include 'header-compare' %}
                            <div class="hdr_container_mobile show-mobile">
                                {% include 'header-account' %}
                            </div>
                            {% include 'header-cart' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%- if section.settings.topline_enable -%}
    <div class="hdr-promoline hdr-topline {{ settings.color_topline_style }}">
        <div class="container">
            <div class="row">
                <div class="col text-center py-0">
                    {% include 'topline' %}
                </div>
            </div>
        </div>
    </div>
    {%- endif -%}
</div>