{% if section.settings.header_search %}
<!-- Header Search -->
<div class="search_container_desktop">
    <div class="dropdn dropdn_search dropdn_fullwidth">
        <a href="#" class="dropdn-link js-dropdn-link only-icon" title="{{ 'layout.navigation.search' | t }}"><i class="icon-search"></i><span class="dropdn-link-txt">{{ 'general.search.placeholder' | t }}</span></a>
        <div class="dropdn-content">
            <div class="container">
                <form action="{{ routes.search_url }}" method="get" class="search search-off-popular" role="search">
                    <input type="hidden" name="type" value="product" />
                    <input type="search" name="q" class="search-input input-empty" placeholder="{{ 'theme.general.what_are_you_looking_for' | t }}">
                    <button type="submit" class="search-button"><i class="icon-search"></i></button>
                    <a href="#" class="search-close js-dropdn-close"><i class="icon-close-thin"></i></a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Header Search -->
{% endif %}