<div class="hdr hdr-style3 {% if section.settings.transparent %}{{ section.settings.header_outer_margin }}{%  endif %}">
    {%- if section.settings.topbar_enable -%}
    <div class="hdr-topline {{ settings.color_topline_style }} js-hdr-top">
        <div class="container">
            <div class="row">
                <div class="col hdr-topline-left hide-mobile">
                    <ul class="social-list list-unstyled">
                        {% include 'social-media-links' %}
                    </ul>
                </div>
                {%- if section.settings.topline_enable -%}
                <div class="col hdr-topline-center">
                    {% include 'topline' %}
                </div>
                {%- endif -%}
                <div class="col hdr-topline-right hide-mobile">
                    <div class="hdr-inline-link {% if section.settings.icon_small_space %}hdr-inline-link--compact{% endif %} {% if section.settings.icon_small %}hdr-inline-link--sm{% endif %}">
                        {% include 'header-services' %}
                        {% include 'header-languages' %}
                        {% include 'header-currencies' %}
                    </div>
                    <div class="hdr-links-wrap">
                        <div class="hdr-inline-link {% if section.settings.icon_small_space %}hdr-inline-link--compact{% endif %} {% if section.settings.icon_small %}hdr-inline-link--sm{% endif %}">
                            <div class="hdr_container_desktop">
                                {% include 'header-search' %}
                                {% include 'header-compare' %}
                                {% include 'header-wishlist' %}
                                {% include 'header-account' %}
                                {% include 'header-cart' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%- endif -%}
    <div class="hdr-content">
        <div class="container">
            <div class="row">
                <div class="col-auto show-mobile">
                    {% include 'header-burger' %}
                </div>
                <div class="col-auto hdr-logo">
                    {% include 'header-logo' %}
                </div>
                {%- if settings.header_bnr_1_yes -%}
                <div class="hdr-banner">
                    {% include 'header-banner-1' %}
                </div>
                {%- endif -%}
                {%- if section.settings.phone_1 != blank and section.settings.phone_1_yes -%}
                    <div class="hdr-phone col-lg col-xl-auto">
                        <i class="icon-phone"></i><span>{{ section.settings.phone_1 }}</span>
                    </div>
                {%- endif -%}
                <!--navigation-->
                <div class="col-auto hdr-nav hide-mobile nav-holder justify-content-end">
                    {% include 'header-navigation' %}
                </div>
                <!--//navigation-->
                <div class="hdr-links show-mobile">
                    <div class="hdr-inline-link {% if section.settings.icon_small_space %}hdr-inline-link--compact{% endif %} {% if section.settings.icon_small %}hdr-inline-link--sm{% endif %}">
                        <div class="hdr_container_mobile">
                            {% include 'header-search' %}
                            {% include 'header-compare' %}
                            {% include 'header-wishlist' %}
                            {% include 'header-account' %}
                            {% include 'header-cart' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>