{%- if settings.wishlist_yes -%}
    <div class="dropdn dropdn_wishlist">
        <a href="/pages/wishlist" class="dropdn-link only-icon wishlist-link" title="{{ 'theme.general.wishlist.title' | t }}">
            <i class="icon-heart"></i><span class="wishlist-qty js-wishlist-qty"></span>
        </a>
    </div>
{%- endif -%}