<div class="hdr hdr-style6 {% if section.settings.transparent %}{{ section.settings.header_outer_margin }}{%  endif %}">
    {%- if section.settings.topbar_enable and section.settings.topline_enable -%}
        <div class="hdr-topline {{ settings.color_topline_style }} js-hdr-top">
            <div class="container">
                <div class="hdr-topline-center">
                    {% include 'topline' %}
                </div>
            </div>
        </div>
    {%- endif -%}
    <div class="hdr-content">
        <div class="container">
            <div class="row">
                <div class="col-auto show-mobile">
                    {% include 'header-burger' %}
                </div>
                <div class="col-auto hdr-logo">
                    {% include 'header-logo' %}
                </div>
                <!--navigation-->
                <div class="hdr-nav hide-mobile nav-holder justify-content-center">
                    {% include 'header-navigation' %}
                </div>
                <!--//navigation-->
                <div class="hdr-links-wrap col-auto ml-auto">
                    {%- if section.settings.about_us_enable or section.settings.languages or section.settings.currencies -%}
                        <div class="hdr-group-link hide-mobile">
                            <div class="hdr-inline-link {% if section.settings.icon_small_space %}hdr-inline-link--compact{% endif %} {% if section.settings.icon_small %}hdr-inline-link--sm{% endif %}">
                                {% include 'header-services' %}
                                {% include 'header-languages' %}
                                {% include 'header-currencies' %}
                            </div>
                        </div>
                    {%- endif -%}
                    <div class="hdr-inline-link {% if section.settings.icon_small_space %}hdr-inline-link--compact{% endif %} {% if section.settings.icon_small %}hdr-inline-link--sm{% endif %}">
                        {% include 'header-search' %}
                        {% include 'header-compare' %}
                        {% include 'header-wishlist' %}
                        {% include 'header-account' class:'only-icon' %}
                        {% include 'header-cart' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>