<div class="holder">
    <div class="container">
        <div class="row text-icn-blocks-with-title">
            <div class="col-md">
                <div class="text-icn-blocks-bg-row">
                    <div class="text-icn-block-bg">
                        <div class="icn">
                            <i class="icon-delivery-truck"></i>
                        </div>
                        <div class="text">
                            <h4>Fast Shipping</h4>
                            <p>Free delivery available on all USA orders, $20 minimum spend</p>
                        </div>
                    </div>
                    <div class="text-icn-block-bg">
                        <div class="icn">
                            <i class="icon-return"></i>
                        </div>
                        <div class="text">
                            <h4>Easy Return</h4>
                            <p>A price match guarantee for best prices on all our products</p>
                        </div>
                    </div>
                    <div class="text-icn-block-bg">
                        <div class="icn">
                            <i class="icon-tag"></i>
                        </div>
                        <div class="text">
                            <h4>Best price</h4>
                            <p> A price match guarantee for best prices on all our products </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>