<li>
    {% include 'header-navigation-preview' link_title:link.title %}
    {%- assign link_url = link.url -%}
    <a href="{{ link_url }}">{% include 'title' link:link %}</a>
    {% if linklists[link.handle].links.size > 0 %}
        <ul>
            {% for link_1 in linklists[link.handle].links %}
                <li {% if link_1.active or link_1.child_active %}class="active"{% endif %}>
                    {% include 'header-navigation-preview' link_title:link_1.title %}
                    {%- assign link_url_1 = link_1.url -%}
                    {% if linklists[link_1.handle].links.size > 0 %}
                        <ul>
                            {% for link_2 in linklists[link_1.handle].links %}
                                <li {% if link_2.active or link_2.child_active %}class="active"{% endif %}>
                                    <a href="{{ link_2.url }}">{% include 'title' link:link_2 %}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</li>