<div class="prd-block_qty">
    <div class="qty qty-changer">
        <button class="decrease js-qty-button"></button>
        <input type="number" class="qty-input" name="quantity" value="1" data-min="1" data-max="1000" pattern="[0-9]*">
        <button class="increase js-qty-button"></button>
    </div>
</div>