{%- if section.settings.product_rating -%}
    <div class="prd-block_reviews" data-toggle="tooltip" data-placement="top" title="{{ 'theme.product.scroll_to_reviews' | t }}"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>
{%- endif -%}