{% assign countdown = product.metafields.c_f.countdown %}
{%- if countdown != blank -%}
    <div class="prd-block_countdown js-countdown-wrap prd-block_info_item">
        <div class="countdown-box-full-text{%- if modal -%}-modal{%- endif -%}">
            <div class="row no-gutters align-items-center">
                <div class="col-sm-auto text-center"><div class="countdown js-countdown" data-countdown="{{ countdown }}"></div></div>
                <div class="col">
                    <div class="countdown-txt"> {{ 'theme.general.have_time_to_buy' | t }}</div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}