<!--Weeemarket Start-->
<div class="weeemarket_dropdown">
  <p>Fabric care</p>
  <span onclick="toggle(1)">+</span>
</div>
<!--Weeemarket End-->

<div class="weeemarket_dropdown-section">
  <div class="fabric_care-div">
  	<div>
      <div class="img-div">
        <img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/placeholder.png?v=1617364347" alt="Icon">
      </div>
      <p>Fabric care text 1</p>
    </div>
    
    <div>
      <div class="img-div">
        <img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/placeholder.png?v=1617364347" alt="Icon">
      </div>
      <p>Fabric care text 2</p>
    </div>
    
    <div>
      <div class="img-div">
        <img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/placeholder.png?v=1617364347" alt="Icon">
      </div>
      <p>Fabric care text 3</p>
    </div>
  </div>
</div>