<!--Weeemarket Start-->
{% assign product_collection = collection.title | link_to: product_collection.url %}
{% unless product_collection == blank %}
<div class="product-custom-infos-div"> 
    {% assign product_collection = collection.title | link_to: product_collection.url %}
  
    <h3 style="font-weight:bold;">
    {% unless product_collection == blank %}
    {{ product.metafields.subtitle.description.value }}
    {% endunless %}
  </h3>
    
    
  
  
  
  <div class="icons-div">
    <div>
    	<img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/placeholder.png?v=1617364347" alt="Icon">
      	<p>Sans sable</p>
    </div>
    
    <div>
    	<img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/placeholder.png?v=1617364347" alt="Icon">
      	<p>Compacte & légère </p>
    </div>
    
    <div>
    	<img src="https://cdn.shopify.com/s/files/1/0075/5227/0402/files/placeholder.png?v=1617364347" alt="Icon">
      	<p>Quick Dry</p>
    </div>
  </div>
</div>
{% endunless %}
<!--Weeemarket End-->