<!--Weeemarket Start-->
<div class="weeemarket_dropdown">
  <p>Reviews</p>
  <span onclick="toggle(2)">+</span>
</div>
<!--Weeemarket End-->

<section class="shopify-product-reviews-wrapper weeemarket_dropdown-section">
  <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
</section>
