{%- if product.metafields.c_f.line_properties_text != blank -%}
    <div class="prd-block_options">
        {%- assign line_properties = product.metafields.c_f.line_properties_text | split:',' -%}
        {%- for property in line_properties -%}
            <div class="swatches">
                <div class="option-label option-label--custom">{{ property }}:</div>
                <input name="properties[{{ property }}]" class="form-control form-control--sm">
            </div>
        {%- endfor -%}
    </div>
{%- endif -%}