{{ block.settings.title }}{% if  block.settings.label != blank %}<span class="menu-label" {% if block.settings.label_color != blank and  block.settings.label_color != 'rgba(0,0,0,0)'%}style="background-color:{{ block.settings.label_color }};border-top-color: {{ block.settings.label_color }};"{% endif %}>{{ block.settings.label }}</span>{% endif %}
