{%- assign pages_list = '10,12,20,24,30,36,50' -%}
{%- if pages_list contains template.suffix %}
    {%- assign products_per_page = template.suffix -%}
{%- else -%}
    {%- assign products_per_page = settings.products_per_page -%}
{%- endif -%}
{%- assign settings_collection_infinite = settings.collection_infinite -%}
{% paginate collection.products by products_per_page %}
    {%- assign products_per_row = section.settings.collections_products_per_row -%}
    {%- assign products_per_row_mobile = section.settings.collections_per_row_mobile -%}
        {%- if settings.collection_sort_enable -%}
            {% include 'collection-toolbar' %}
        {%- endif -%}
    <div class="{{ section.settings.collections_products_grid }} product-listing data-to-show-{{ section.settings.collections_products_per_row }} data-to-show-md-3 data-to-show-sm-{{ section.settings.collections_per_row_mobile }} js-category-grid {% if settings_collection_infinite %}has-infinite-scroll{% endif %}" data-product-listing>
        {% include 'collection-grid' %}
    </div>
    <div class="loader-horizontal-sm loader-horizontal-sm--fixed js-loader-horizontal-sm-fixed d-none"><span></span></div>
{% endpaginate %}
{% schema %}
{
"name": "Products content",
"settings": [
{
"type": "paragraph",
"content": "[Documentation](http://big-skins.com/foxic/manuals/#Collection)"
},
{
"type": "paragraph",
"content": "To see filter tags Enable sidebar in Theme Settings / General settings / Collection page / Enable Sidebar"
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "collections_products_grid",
"label": "Products Listing View on start",
"options": [
{ "value": "prd-grid", "label": "Grid (vertical products)" },
{ "value": "prd-horgrid", "label": "Grid (horizontal products)" },
{ "value": "prd-listview", "label": "Listing" }
],
"default": "prd-grid"
},
{
"type": "select",
"id": "collections_products_per_row",
"label": "Products per row in desktop",
"options": [
{ "value": "3", "label": "3" },
{ "value": "4", "label": "4" },
{ "value": "5", "label": "5" },
{ "value": "6", "label": "6" }
],
"default": "5"
},
{
"type": "select",
"id": "collections_per_row_mobile",
"label": "Products per row in mobile",
"options": [
{ "value": "1", "label": "1" },
{ "value": "2", "label": "2" }
],
"default": "2"
},
{
"type": "checkbox",
"id": "collections_description",
"label": "Enable collection description",
"default": true
}
]
}
{% endschema %}