{%- assign collection_1 = collections[section.settings.collection_1] -%}
{% if section.settings.limit_1 != blank %}
    {%- assign product_limit_1 = section.settings.limit_1 -%}
{% endif %}

{%- assign collection_2 = collections[section.settings.collection_2] -%}
{% if section.settings.limit_2 != blank %}
    {%- assign product_limit_2 = section.settings.limit_2 -%}
{% endif %}

<div class="holder {{ section.settings.outer_margin }}">
    <div class="container">
        <div class="row vert-margin {% if section.settings.reversed %}flex-row-reverse{% endif %}">
            <div class="col-md-6">
                {% assign banner = section.settings %}
                {% render 'banner-item', banner: banner, id: block.id, gutters: 0.1, fontratio: 5.695 %}
            </div>
            <div class="col-sm-9 col-md-6">
                <div class="title-with-arrows">
                    <h2>{{ section.settings.title }}</h2>
                    <div class="carousel-arrows"></div>
                </div>
                <div class="prd-carousel-vert js-prd-carousel-vert">
                    {% for product in collection_1.products limit: product_limit_1 %}{% include 'product-card' class:'prd-hor' %}{% else %}{% include 'empty-carousel' %}{% endfor %}
                </div>
            </div>
            <div class="col-sm-9 col-md-6">
                <div class="title-with-arrows">
                    <h2>{{ section.settings.title_2 }}</h2>
                    <div class="carousel-arrows"></div>
                </div>
                <div class="prd-carousel-vert js-prd-carousel-vert">
                    {% for product in collection_2.products limit: product_limit_2 %}{% include 'product-card' class:'prd-hor' %}{% else %}{% include 'empty-carousel' %}{% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "Product 2Carousel+Image",
"class": "index-section",
"presets": [
{
"name": "Products 2x Carousel + Image",
"category": "Products"
}
],
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "checkbox",
"id": "reversed",
"label": "Reversed",
"default": false
},
{
"type": "header",
"content": "General"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
   "type":      "paragraph",
   "content":   "Collection 1"
},
{
"id": "collection_1",
"type": "collection",
"label": "Collection"
},
{
"id": "limit_1",
"type": "text",
"label": "Products limit",
"info":"if no limit keep empty, for better perfomance try reduce limit",
"default":"2"
},
{
   "type":      "paragraph",
   "content":   "Collection 2"
},
{
"type": "text",
"id": "title_2",
"label": "Heading",
"default": "Heading"
},
{
"id": "collection_2",
"type": "collection",
"label": "Collection"
},
{
"id": "limit_2",
"type": "text",
"label": "Products limit",
"info":"if no limit keep empty, for better perfomance try reduce limit",
"default":"2"
},
{
"type": "header",
"content": "Banner"
},
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type":"image_picker",
"id":"image",
"label":"Image"
},
{
"type":"url",
"id":"link",
"label":"Collection link"
},
{
"type":"select",
"id":"link_target",
"label":"Link Target",
"default":"_self",
"options":[
{
"value":"_blank",
"label":"New page"
},
{
"value":"_self",
"label":"In current page"
}
]
},
{
"type": "checkbox",
"id": "link_all_banner",
"label": "Make entire banner a link",
"default":false
},
{
"type":"select",
"id":"col",
"label":"Column for Mobile",
"options":[
{"value":"2","label":"1/9"},
{"value":"3","label":"1/6"},
{"value":"6","label":"1/3"},
{"value":"9","label":"1/2"},
{"value":"12","label":"2/3"},
{"value":"18","label":"1"}
],
"default":"18"
},
{
"type":"select",
"id":"col_md",
"label":"Column for Desktop",
"options":[
{"value":"2","label":"1/9"},
{"value":"3","label":"1/6"},
{"value":"6","label":"1/3"},
{"value":"9","label":"1/2"},
{"value":"12","label":"2/3"},
{"value":"18","label":"1"}
],
"default":"6"
},
{
"type": "select",
"id": "bnr_text_pos",
"options": [
{ "value": "bnr--top bnr--left", "label": "Top/Left"},
{ "value": "bnr--top bnr--right", "label": "Top/Right"},
{ "value": "bnr--top bnr--center", "label": "Top/Center"},
{ "value": "bnr--bottom bnr--left", "label": "Bottom/Left"},
{ "value": "bnr--bottom bnr--right", "label": "Bottom/Right"},
{ "value": "bnr--bottom bnr--center", "label": "Bottom/Center"},
{ "value": "bnr--middle bnr--left", "label": "Middle/Left"},
{ "value": "bnr--middle bnr--right", "label": "Middle/Right"},
{ "value": "bnr--middle bnr--center", "label": "Middle/Center"}
],
"label": "Text Position (Vertical/Horizontal)",
"default":"bnr--middle bnr--center"
},
{
"type":"range",
"id":"bnr_text_paddingh",
"min":1,
"max":80,
"step":1,
"label":"Text Offset Horizontal",
"unit":"%",
"default":4
},
{
"type":"range",
"id":"bnr_text_paddingv",
"min":1,
"max":80,
"step":1,
"label":"Text Offset Vertical",
"unit":"%",
"default":4
},
{
"type":"color",
"id":"caption_bgcolor",
"label":"Background Color"
},
{
"type":"range",
"id":"caption_bgcolor_opacity",
"min":0.1,
"max":1,
"step":0.1,
"label":"Background Color Opacity",
"unit":"%",
"default": 1
},
{
"type":"range",
"id":"caption_paddingh",
"min":0,
"max":30,
"step":1,
"label":"Caption Padding Horizontal",
"unit":"%",
"default":0
},
{
"type":"range",
"id":"caption_paddingv",
"min":0,
"max":30,
"step":1,
"label":"Caption Padding Vertical",
"unit":"%",
"default":0
},
{
"type":      "range",
"id":        "captions_width",
"min":       30,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Сaptions width",
"default":   100
},
{
"type":"select",
"id":"hover",
"label":"Hover Effect",
"options":[
{"value":"none","label":"None"},
{"value":"image-hover-dark-circle","label":"Circle Darkness"},
{"value":"image-hover-dark","label":"Full Darkness"},
{"value":"image-hover-scale","label":"Scale"},
{"value":"image-hover-dark-scale","label":"Scale + Full Darkness"}
],
"default":"image-hover-scale"
},
{
"type":"checkbox",
"id":"zoom_decor",
"label":"Zoom Decor Circle",
"default":false
},
{
"type": "paragraph",
"content": "…………………………………………………………"
},
{
"type":"header",
"content":"TEXT 1"
},
{
"type": "checkbox",
"id": "bnr_text",
"default": true,
"label": "Enable"
},
{
"type":"select",
"id":"bnr_text_order",
"label":"Order",
"options":[
{"value":"1","label":"1"},
{"value":"2","label":"2"},
{"value":"3","label":"3"}
],
"default":"1"
},
{
"type":"select",
"id":"bnr_text_top",
"label":"Top Margin",
"options":[
    {
    "value": "mt-0",
    "label": "None"
    },
    {
    "value": "mt-xs",
    "label": "XSmall"
    },
    {
    "value": "mt-sm",
    "label": "Small"
    },
    {
    "value": "mt-lg",
    "label": "Medium"
    },
    {
    "value": "mt-xl",
    "label": "Large"
    },
    {
    "value": "mt-xxl",
    "label": "XLarge"
    }
],
"default":"mt-sm"
},
{
"type":"text",
"id":"bnr_text_text",
"label":"Text",
"default":"Text 1"
},
{
"type": "checkbox",
"id": "bnr_text_font",
"label": "Use Headings Font",
"default": false
},
{
"type":"color",
"id":"bnr_text_color",
"label":"Color"
},
{
"type": "checkbox",
"id": "bnr_text_color_theme",
"default": false,
"label": "Use Theme Color"
},
{
"type":"color",
"id":"bnr_text_bgcolor",
"label":"Background Color"
},
{
"type":"range",
"id":"bnr_text_bgcolor_opacity",
"min":0.1,
"max":1,
"step":0.1,
"label":"Background Color Opacity",
"unit":"%",
"default": 0.5
},
{
"type":"select",
"id": "bnr_text_fontweight",
"label": "Font Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "800", "label": "Black" }
],
"default":"700"
},
{
"type":"range",
"id":"bnr_text_size",
"min":10,
"max":200,
"step":2.5,
"label":"Font Size",
"unit":"%",
"default": 60
},
{
"type":"range",
"id":"bnr_text_lineheight",
"min":1,
"max":2,
"step":0.1,
"label":"Line Height",
"unit":"em",
"default":1
},
{
"type": "select",
"id": "bnr_text_alignment",
"label": "Self alignment",
"default": "inherit",
"options": [
{ "value": "inherit", "label": "Default" },
{ "value": "text-center", "label": "Center" },
{ "value": "text-left", "label": "Left" },
{ "value": "text-right", "label": "Right" }
]
},
{
"type": "paragraph",
"content": "*Set padding if background color is used"
},
{
"type":"range",
"id":"bnr_text1_paddingh",
"min":0,
"max":30,
"step":1,
"label":"Text Inside Padding Horizontal",
"unit":"%",
"default":0
},
{
"type":"range",
"id":"bnr_text1_paddingv",
"min":0,
"max":30,
"step":1,
"label":"Text Inside Padding Vertical",
"unit":"%",
"default":0
},
{
"type": "paragraph",
"content": "…………………………………………………………"
},
{
"type":"header",
"content":"TEXT 2"
},
{
"type": "checkbox",
"id": "bnr_text2",
"default": false,
"label": "Enable"
},
{
"type":"select",
"id":"bnr_text2_order",
"label":"Order",
"options":[
{"value":"1","label":"1"},
{"value":"2","label":"2"},
{"value":"3","label":"3"}
],
"default":"2"
},
{
"type":"select",
"id":"bnr_text2_top",
"label":"Top Margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-sm","label":"Small"},
{"value":"mt-lg","label":"Large"}
],
"default":"mt-sm"
},
{
"type":"text",
"id":"bnr_text2_text",
"label":"Text",
"default":"Text 2"
},
{
"type": "checkbox",
"id": "bnr_text2_font",
"label": "Use Headings Font",
"default": false
},
{
"type":"color",
"id":"bnr_text2_color",
"label":"Color"
},
{
"type": "checkbox",
"id": "bnr_text2_color_theme",
"default": false,
"label": "Use Theme Color"
},
{
"type":"color",
"id":"bnr_text2_bgcolor",
"label":"Background Color"
},
{
"type":"range",
"id":"bnr_text2_bgcolor_opacity",
"min":0.1,
"max":1,
"step":0.1,
"label":"Background Color Opacity",
"unit":"%",
"default": 0.5
},
{
"type":"select",
"id": "bnr_text2_fontweight",
"label": "Font Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "800", "label": "Black" }
],
"default":"700"
},
{
"type":"range",
"id":"bnr_text2_size",
"min":10,
"max":200,
"step":2.5,
"label":"Font Size",
"unit":"%",
"default": 60
},
{
"type":"range",
"id":"bnr_text2_lineheight",
"min":1,
"max":2,
"step":0.1,
"label":"Line Height",
"unit":"em",
"default":1
},
{
"type": "select",
"id": "bnr_text2_alignment",
"label": "Self alignment",
"default": "inherit",
"options": [
{ "value": "inherit", "label": "Default" },
{ "value": "text-center", "label": "Center" },
{ "value": "text-left", "label": "Left" },
{ "value": "text-right", "label": "Right" }
]
},
{
"type": "paragraph",
"content": "*Set padding if background color is used"
},
{
"type":"range",
"id":"bnr_text2_paddingh",
"min":0,
"max":30,
"step":1,
"label":"Text Inside Padding Horizontal",
"unit":"%",
"default":0
},
{
"type":"range",
"id":"bnr_text2_paddingv",
"min":0,
"max":30,
"step":1,
"label":"Text Inside Padding Vertical",
"unit":"%",
"default":0
},
{
"type": "paragraph",
"content": "…………………………………………………………"
},
{
"type":"header",
"content":"BUTTON"
},
{
"type": "checkbox",
"id": "bnr_button",
"default": false,
"label": "Enable"
},
{
"type":"select",
"id":"bnr_button_order",
"label":"Order",
"options":[
{"value":"1","label":"1"},
{"value":"2","label":"2"},
{"value":"3","label":"3"}
],
"default":"3"
},
{
"type":"select",
"id":"bnr_button_top",
"label":"Top Margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-sm","label":"Small"},
{"value":"mt-lg","label":"Large"}
],
"default":"mt-sm"
},
{
"type": "checkbox",
"id": "bnr_button_lg",
"default": false,
"label": "Large Button"
},
{
"type":"text",
"id":"bnr_button_text",
"label":"Text",
"default":"Buy Now"
},
{
"type": "select",
"id": "bnr_button_alignment",
"label": "Self alignment",
"default": "inherit",
"options": [
{ "value": "inherit", "label": "Default" },
{ "value": "text-center", "label": "Center" },
{ "value": "text-left", "label": "Left" },
{ "value": "text-right", "label": "Right" }
]
},
{
"type": "checkbox",
"id": "bnr_button_theme",
"default": true,
"label": "Use Theme Button Color"
},
{
"type":"color",
"id": "button_color",
"label": "Color"
},
{
"type":"color",
"id": "button_bgcolor",
"label": "Bg Color"
},
{
"type":"color",
"id": "button_color_hover",
"label": "Hover Color"
},
{
"type":"color",
"id": "button_bgcolor_hover",
"label": "Hover Bg Color"
},
{
"type": "paragraph",
"content": "…………………………………………………………"
},
{
"type":"header",
"content":"LABEL"
},
{
"type": "checkbox",
"id": "bnr_label",
"default": false,
"label": "Enable"
},
{
"type": "select",
"id": "label_text_pos",
"options": [
{ "value": "lt", "label": "Top/Left"},
{ "value": "rt", "label": "Top/Right"},
{ "value": "lb", "label": "Bottom/Left"},
{ "value": "rb", "label": "Bottom/Right"}
],
"label": "Label Position",
"default":"rt"
},
{
"type":"text",
"id":"label_text",
"label":"Label Text",
"default":"This week<br><span>50%</span>"
},
{
"type":"color",
"id": "label_color",
"label": "Label Color",
"default": "#FFFFFF"
},
{
"type": "checkbox",
"id": "label_color_theme",
"default": false,
"label": "Use Theme Color"
},
{
"type":"color",
"id":"label_bgcolor",
"label":"Background Color"
},
{
"type":"range",
"id":"label_bgcolor_opacity",
"min":0.1,
"max":1,
"step":0.1,
"label":"Background Color Opacity",
"unit":"%",
"default": 0.5
},
{
"type":"select",
"id": "label_fontweight",
"label": "Label Font Weight",
"options": [
{ "value": "100", "label": "Thin" },
{ "value": "300", "label": "Light" },
{ "value": "400", "label": "Regular" },
{ "value": "500", "label": "Medium" },
{ "value": "600", "label": "Semibold" },
{ "value": "700", "label": "Bold" },
{ "value": "900", "label": "Black" }
],
"default":"600"
},
{
"type":"range",
"id":"label_size",
"min":10,
"max":40,
"step":1,
"label":"Label Font Size",
"unit":"px",
"default":21
},
{
"type":"range",
"id":"label_lineheight",
"min":1,
"max":2,
"step":0.1,
"label":"Label Line Height",
"unit":"em",
"default":1
},
{
"type": "paragraph",
"content": "*Set padding if background color is used"
},
{
"type":"range",
"id":"label_paddingh",
"min":0,
"max":30,
"step":1,
"label":"Text Inside Padding Horizontal",
"unit":"%",
"default":0
},
{
"type":"range",
"id":"label_paddingv",
"min":0,
"max":30,
"step":1,
"label":"Text Inside Padding Vertical",
"unit":"%",
"default":0
},
{
"type": "paragraph",
"content": "…………………………………………………………"
},
{
"type":"header",
"content":"Circle Decor 1"
},
{
"type": "checkbox",
"id": "bnr_decor_1",
"default": false,
"label": "Enable"
},
{
"type": "checkbox",
"id": "bnr_decor_1_over",
"default": true,
"label": "Over image"
},
{
"type":"select",
"id":"bnr_decor_1_thickness",
"label":"Circle Thickness",
"options":[
{"value":"1","label":"Thinner"},
{"value":"3","label":"Thin"},
{"value":"2","label":"Thick"},
{"value":"4","label":"Fill"}
],
"default":"1"
},
{
"type":"select",
"id":"bnr_decor_1_pos",
"label":"Corner Position",
"options":[
{"value":"circle_decor--tr","label":"Top/Right"},
{"value":"circle_decor--tl","label":"Top/Left"},
{"value":"circle_decor--br","label":"Bottom/Right"},
{"value":"circle_decor--bl","label":"Bottom/Left"}
],
"default":"circle_decor--tr"
},
{
"type":      "range",
"id":        "bnr_decor_1_xpos",
"min":       0,
"max":       100,
"step":       1,
"unit":       "%",
"label":     "Shift X",
"default":   71
},
{
"type":      "range",
"id":        "bnr_decor_1_ypos",
"min":       0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Shift Y",
"default":   71
},
{
"type":      "range",
"id":        "bnr_decor_1_rotate",
"min":        -180,
"max":        180,
"step":       5,
"unit":       "deg",
"label":     "Rotate",
"default":   45
},
{
"type":      "range",
"id":        "bnr_decor_1_width",
"min":        0,
"max":        200,
"step":       5,
"unit":       "%",
"label":     "Width",
"default":   185
},
{
"type":"color",
"id": "bnr_decor_1_color",
"label": "Color",
"default": "#13dcba"
},
{
"type":"select",
"id":"bnr_decor_1_blend",
"label":"Blend Mode",
"options":[
{"value":"normal","label":"normal"},
{"value":"darken","label":"darken"},
{"value":"multiple","label":"multiple"},
{"value":"soft-light","label":"soft light"}
],
"default":"darken"
},
{
"type":      "range",
"id":        "bnr_decor_1_opacity",
"min":        0,
"max":        100,
"step":       5,
"unit":       "%",
"label":     "Opacity",
"default":   75
},
{
"type": "paragraph",
"content": "…………………………………………………………"
},
{
"type":"header",
"content":"Circle Decor 2"
},
{
"type": "checkbox",
"id": "bnr_decor_2",
"default": false,
"label": "Enable"
},
{
"type": "checkbox",
"id": "bnr_decor_2_over",
"default": true,
"label": "Over image"
},
{
"type":"select",
"id":"bnr_decor_2_thickness",
"label":"Circle Thickness",
"options":[
{"value":"1","label":"Thinner"},
{"value":"3","label":"Thin"},
{"value":"2","label":"Thick"},
{"value":"4","label":"Fill"}
],
"default":"1"
},
{
"type":"select",
"id":"bnr_decor_2_pos",
"label":"Corner Position",
"options":[
{"value":"circle_decor--tr","label":"Top/Right"},
{"value":"circle_decor--tl","label":"Top/Left"},
{"value":"circle_decor--br","label":"Bottom/Right"},
{"value":"circle_decor--bl","label":"Bottom/Left"}
],
"default":"circle_decor--tr"
},
{
"type":      "range",
"id":        "bnr_decor_2_xpos",
"min":      0,
"max":        100,
"step":       1,
"unit":       "%",
"label":     "Shift X",
"default":   71
},
{
"type":      "range",
"id":        "bnr_decor_2_ypos",
"min":       0,
"max":       100,
"step":       1,
"unit":       "%",
"label":     "Shift Y",
"default":   71
},
{
"type":      "range",
"id":        "bnr_decor_2_rotate",
"min":        -180,
"max":        180,
"step":       5,
"unit":       "deg",
"label":     "Rotate",
"default":   45
},
{
"type":      "range",
"id":        "bnr_decor_2_width",
"min":        0,
"max":        200,
"step":       5,
"unit":       "%",
"label":     "Width",
"default":   185
},
{
"type":"color",
"id": "bnr_decor_2_color",
"label": "Color",
"default": "#13dcba"
},
{
"type":"select",
"id":"bnr_decor_2_blend",
"label":"Blend Mode",
"options":[
{"value":"normal","label":"normal"},
{"value":"darken","label":"darken"},
{"value":"multiple","label":"multiple"},
{"value":"soft-light","label":"soft light"}
],
"default":"darken"
},
{
"type":      "range",
"id":        "bnr_decor_2_opacity",
"min":        0,
"max":        100,
"step":       5,
"unit":       "%",
"label":     "Opacity",
"default":   75
}
]
}
{% endschema %}