{%- if section.settings.enable -%}
    {%- assign collection = collections[section.settings.collection] -%}
    {% if section.settings.limit != blank %}
        {%- assign product_limit = section.settings.limit -%}
    {% endif %}
    <div class="holder {{ section.settings.outer_margin }}">
        <div class="container" {% if section.settings.maxwidth_yes %}style="max-width:{{ section.settings.maxwidth }}px!important"{% endif %}>
            {% include 'section-headings-arrows' %}
            <div class="prd-grid prd-carousel js-prd-carousel data-to-show-{{ section.settings.per_row_desktop }} data-to-show-md-2 data-to-show-sm-2 data-to-show-xs-{{ section.settings.per_row_mobile }}">
                {% for product in collection.products limit: product_limit %}{% include 'product-card' %}{% else %}{% include 'empty-carousel' %}{% endfor %}
            </div>
            {%- if settings.arrows_style == "arrows-style2" -%}<div class="carousel-arrows carousel-arrows--bottom"></div>{%- endif -%}
        </div>
    </div>
{%- endif -%}

{% schema %}
{
"name": "Product carousel",
"presets": [
{
"name": "Product carousel 404 Page"
}
],
"settings": [
{
   "type":      "checkbox",
   "id":        "enable",
   "label":     "Enable",
   "default":   true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "checkbox",
"id": "maxwidth_yes",
"label": "Enable Max Width",
"default": false
},
{
"type": "range",
"id": "maxwidth",
"label": "Max Width",
"min": 800,
"max": 1800,
"step": 20,
"unit": "px",
"default": 1600
},
{
"type": "header",
"content": "Heading"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Heading"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" }
]
},
{
"id": "collection",
"type": "collection",
"label": "Collection"
},
{
"id": "limit",
"type": "text",
"label": "Products limit",
"default":"8"
},
{
"type": "select",
"id": "per_row_desktop",
"label": "Desktop:",
"default": "4",
"options": [
{ "value": "4", "label": "4" },
{ "value": "5", "label": "5" },
{ "value": "6", "label": "6" }
],
"info": "products per row"
},
{
"type": "select",
"id": "per_row_mobile",
"label": "Mobile:",
"default": "2",
"options": [
{ "value": "1", "label": "1" },
{ "value": "2", "label": "2" }
],
"info": "products per row"
}
]
}
{% endschema %}