{%- assign collection = collections[section.settings.collection] -%}
<div class="holder {{ section.settings.outer_margin }}">
    <div class="container">
        {% include 'section-headings' %}
        <div class="row vert-margin justify-content-md-center">
            <div class="col-md-9">
                <div class="prd-grid prd-grid--mt-sm data-to-show-2 data-to-show-md-2 data-to-show-sm-2 data-to-show-xs-{{ section.settings.per_row_mobile }}">
                    {% for product in collection.products limit: 4 %}{% include 'product-card' %}{% else %}{% include 'empty-carousel-4x' %}{% endfor %}
                </div>
            </div>
            <div class="col-md-9 {{ section.settings.position }}">
                {% if section.settings.product != blank %}
                <div class="prd-grid prd-grid--mt-sm data-to-show-1 data-to-show-md-1 data-to-show-sm-1 data-to-show-xs-1">
                {%- assign product = all_products[section.settings.product] -%}
                {% include 'product-card' %}
                </div>
                {%- else -%}
                    <div class="alert alert-warning text-center h-100 d-flex align-items-center justify-content-center">
                        Select Product in the admin panel
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "2x2 Grid + Big Product",
"class": "index-section",
"presets": [
{
"name": "2x2 Grid + Big Product",
"category": "Products"
}
],
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "General"
},
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"Heading"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
    {
    "type": "text",
    "id": "subtitle",
    "label": "Sub Heading",
    "default": "Sub Heading"
    },
    {
    "type": "text",
    "id": "bgtitle",
    "label": "Background Heading"
    },
{
"id": "collection",
"type": "collection",
"label": "Collection"
},
{
"type": "select",
"id": "per_row_mobile",
"label": "Mobile:",
"default": "2",
"options": [
{ "value": "1", "label": "1" },
{ "value": "2", "label": "2" }
],
"info": "products per row"
},
{
"type": "header",
"content": "Big Product"
},
{
"type": "product",
"id": "product",
"label": "Product"
},
{
"type": "radio",
"id": "position",
"label": "Big Product Position",
"options":[
{"value":"order-last","label":"Right"},
{"value":"order-first","label":"Left"}
]
}
]
}
{% endschema %}