{%- assign collection_1 = collections[section.settings.collection_1] -%}
{% if section.settings.limit_1 != blank %}
    {%- assign product_limit_1 = section.settings.limit_1 -%}
{% endif %}

{%- assign collection_2 = collections[section.settings.collection_2] -%}
{% if section.settings.limit_2 != blank %}
    {%- assign product_limit_2 = section.settings.limit_2 -%}
{% endif %}

{%- assign collection_3 = collections[section.settings.collection_3] -%}
{% if section.settings.limit_3 != blank %}
    {%- assign product_limit_3 = section.settings.limit_3 -%}
{% endif %}
<div class="holder {{ section.settings.outer_margin }}">
    <div class="container">
        <div class="row vert-margin justify-content-md-center">
            <div class="col-sm-6 col-md-6">
                <div class="title-with-arrows">
                    <h2>{{ section.settings.title }}</h2>
                    <div class="carousel-arrows"></div>
                </div>
                <div class="prd-carousel-vert js-prd-carousel-vert">
                    {% for product in collection_1.products limit: product_limit_1 %}{% include 'product-card' class:'prd-hor' %}{% else %}{% include 'empty-carousel' %}{% endfor %}
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="title-with-arrows">
                    <h2>{{ section.settings.title_2 }}</h2>
                    <div class="carousel-arrows"></div>
                </div>
                <div class="prd-carousel-vert js-prd-carousel-vert">
                    {% for product in collection_2.products limit: product_limit_2 %}{% include 'product-card' class:'prd-hor' %}{% else %}{% include 'empty-carousel' %}{% endfor %}
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="title-with-arrows">
                    <h2>{{ section.settings.title_3 }}</h2>
                    <div class="carousel-arrows"></div>
                </div>
                <div class="prd-carousel-vert js-prd-carousel-vert">
                    {% for product in collection_3.products limit: product_limit_3 %}{% include 'product-card' class:'prd-hor' %}{% else %}{% include 'empty-carousel' %}{% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
"name": "Products 3x2 Carousel",
"class": "index-section",
"presets": [
{
"name": "Products 3x2 Carousel",
"category": "Products"
}
],
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "General"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
   "type":      "paragraph",
   "content":   "Collection 1"
},
{
"id": "collection_1",
"type": "collection",
"label": "Collection"
},
{
"id": "limit_1",
"type": "text",
"label": "Products limit",
"info":"if no limit keep empty, for better perfomance try reduce limit",
"default":"2"
},
{
   "type":      "paragraph",
   "content":   "Collection 2"
},
{
"type": "text",
"id": "title_2",
"label": "Heading",
"default": "Heading"
},
{
"id": "collection_2",
"type": "collection",
"label": "Collection"
},
{
"id": "limit_2",
"type": "text",
"label": "Products limit",
"info":"if no limit keep empty, for better perfomance try reduce limit",
"default":"2"
},{
   "type":      "paragraph",
   "content":   "Collection 3"
},
{
"type": "text",
"id": "title_3",
"label": "Heading",
"default": "Heading"
},
{
"id": "collection_3",
"type": "collection",
"label": "Collection"
},
{
"id": "limit_3",
"type": "text",
"label": "Products limit",
"info":"if no limit keep empty, for better perfomance try reduce limit",
"default":"2"
}
]
}
{% endschema %}