{% if collection == null or collection.handle == 'all' %}
    {% assign found_a_collection = false %}
    {% for c in product.collections %}
        {% if found_a_collection == false and c.handle != 'all' and c.all_products_count > 1 %}
            {% assign found_a_collection = true %}
            {% assign collection = c %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if collection and collection.products_count > 1 %}
    {% if section.settings.product_related_enable %}
        {% if section.settings.limit != blank %}
            {%- assign product_limit = section.settings.limit -%}
        {% endif %}
        {% assign current_product = product %}
        {% assign current_product_found = false %}
        <div class="holder {{ section.settings.outer_margin }}">
            <div class="container">
                {% include 'section-headings-arrows' %}
                <div class="prd-grid prd-carousel js-prd-carousel data-to-show-{{ section.settings.per_row_desktop }} data-to-show-md-2 data-to-show-sm-2 data-to-show-xs-{{ section.settings.per_row_mobile }}" {% if settings.arrows_style == "arrows-style3" %}data-slick='{"arrows": false, "dots": true}'{% endif %}>
                    {%- assign main_id = product.id -%}
                    {% for product in collection.products limit: product_limit %}{% if product.id == main_id %}{% continue %}{% endif %}{% include 'product-card' %}{% endfor %}
                </div>
                {%- if settings.arrows_style == "arrows-style2" -%}<div class="carousel-arrows carousel-arrows--bottom"></div>{%- endif -%}
            </div>
        </div>
    {% endif %}
{% endif %}


{% schema %}
{
"name": "Product related",
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"holder-mt-xsmall","label":"XSmall"},
{"value":"holder-mt-small","label":"Small"},
{"value":"holder-mt-medium","label":"Medium (default)"},
{"value":"holder-mt-large","label":"Large"}
],
"default": "holder-mt-medium"
},
{
"type": "header",
"content": "General"
},
{
"type": "checkbox",
"id": "product_related_enable",
"label": "Show related products",
"default": true
},
{
"type": "header",
"content": "Heading"
},
{
"type": "checkbox",
"id": "enable_text",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"More from this collection"
},
{
"type": "select",
"id": "title_size",
"label": "Title Font Size",
"default": "h2-style",
"options": [
{ "value": "h-lg-style", "label": "Large" },
{ "value": "h1-style", "label": "Normal" },
{ "value": "h2-style", "label": "Small" }
]
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" }
]
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading"
},
{
"type": "text",
"id": "bgtitle",
"label": "Background Heading"
},{
"id": "limit",
"type": "text",
"label": "Products limit",
"default":"7"
},
{
"type": "paragraph",
"content": "Products per row:"
},
{
"type": "select",
"id": "per_row_desktop",
"label": "Desktop",
"default": "5",
"options": [
{ "value": "4", "label": "4" },
{ "value": "5", "label": "5" },
{ "value": "6", "label": "6" }
]
},
{
"type": "select",
"id": "per_row_mobile",
"label": "Mobile:",
"default": "2",
"options": [
{ "value": "1", "label": "1" },
{ "value": "2", "label": "2" }
],
"info": "products per row"
}
]
}
{% endschema %}