<div class="holder">
    <div class="container">
        {% section 'blog-heading' %}
        <div class="row flex-md-nowrap">
            {% section 'article-template' %}
            {% section 'blog-sidebar' %}
        </div>
    </div>
</div>
{% section 'home-product-carousel-blog-page' %}