  <div class="holder">
    <div class="container">
        {% section 'blog-heading' %}
      <div class="row">
          {% section 'blog-template' %}
          {% section 'blog-sidebar' %}
      </div>
    </div>
  </div>
  {% section 'home-product-carousel-blog-page' %}