<div class="container">
    {% render 'breadcrumb' %}
    <div class="page page-faqs">
    	{% if page.content.size > 0 %}
	        {{ page.content }}
	    {% endif %}
        {% section 'sidebar-faq' %}
        {% section 'faq-template' %}
    </div>
</div>